<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My project</title>
  </head>
  <body>
    <h1>Ng Model</h1>
    <p>Nombre: {{ person.name }}</p>
    <input
      type="text"
      required
      #nameInput="ngModel"
      [(ngModel)]="person.name"
    />
    <p>Valid: {{ nameInput.valid }}</p>
    <p>Age: {{ person.age }}</p>
    <input
      type="number"
      max="18"
      min="10"
      required
      #ageInput="ngModel"
      [(ngModel)]="person.age"
    />
    <p>Valid: {{ ageInput.valid }}</p>
    <hr />
    <h1>Eventos</h1>
    <button [disabled]="btnDisabled">Enviar</button>
    <button (click)="toggleButton()">Toggle Button</button>
    <p>Edad{{ person.age }}</p>
    <button (click)="increaseAge()">Age++</button>
    <hr />

    <div class="box" (scroll)="onScroll($event)">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident rem
        quis dignissimos eius saepe, cum esse et quasi ullam nemo. Alias
        repudiandae ullam quas delectus ratione laudantium hic voluptatibus
        accusamus.
      </p>
    </div>
    <div>
      <p>Nombre: {{ person.name }}</p>
      <input type="text" [value]="person.name" (keyup)="changeName($event)" />
    </div>
    <hr />
    <h1>Propiedades</h1>
    <button [disabled]="btnDisabled">Enviar</button>
    <input type="text" [value]="name" />
    <progress max="100" [value]="age"></progress>
    <img width="100" [src]="img" />
    <hr />
    <h1>Propiedades usando objetos</h1>
    <button [disabled]="btnDisabled">Enviar</button>
    <input type="text" [value]="person.name" />
    <progress max="100" [value]="person.progress"></progress>
    <img width="100" [src]="person.avatar" />
    <hr />
    <h1>Hola Mundo</h1>
    <h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
    <p>3 + 3 = {{ 3 + 3 }}</p>
    <h3>Hola soy {{ name }} y vivo en el {{ city }}</h3>
    <img src="{{ img }}" alt="image" srcset="" />
  </body>
</html>
